.button {
  background-color: get-color(ui, button);
  border: 0.25em dashed get-color(ui, button);
  color: get-color(greyscale, lightest);
  font-size: 1.5em;
  padding: 0.285em;
  width: 100%;

  &:hover,
  &:focus {
    border: 0.25em dashed get-color(ui, button);
    padding: 0.285em;
    background-color: get-color(greyscale, lightest);
    color: get-color(greyscale, dark);
    outline: 0;
  }
}