textarea, select, input[type] {
  box-shadow: none;
}

textarea:focus, select:focus, input[type]:focus {
  outline: 0;
}

.inputField {
  margin-bottom: 1.5em;
}

.inputField__label {
  display: block;
  margin-bottom: 0.25em;
}

.inputField__inputWrapper {
  position: relative;
  display: inline-block;
}

.inputField__input {
  background-color: get-color(greyscale, base);
  border: 1px solid get-color(greyscale, base);
  color: get-color(greyscale, lightest);
  font-size: 1.5em;
  margin-bottom: 0;
  padding: 0.5em;
  border: 1px solid get-color(greyscale, darkest);
  width: 100%;

  &:focus {
    background: get-color(greyscale, light);
    border: 1px solid get-color(greyscale, lightest);
  }
}

.inputField__tooltip {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}

.submitField {
  margin-top: 2.5em;
}

