.resultSentence {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 0 4em;
  text-align: center;

  @media (min-width: $large) {
    display: flex;
  }

  .wrapper.has-result & {
    display: flex;
  }
}

.resultSentence__content {
  font-size: 2em;

  @media (min-width: $larger) {
    font-size: 2.5em;
  }
}

.resultSentence__hours {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.25;
}

.resultSentence__small {
  font-size: 0.5em;
  margin-top: 1.5em;
}
