.tooltip__text {
  display: none;
}

.tooltip__icon {
  display: none;
  position: relative;
  top: 1px;
  cursor: pointer;

  @media (min-width: $large) {
    display: flex;
  }

  &:hover + .tooltip__text {
    display: block;
  }
}

.tooltip__text {
  width: 200px;
  position: absolute;
  left: 50px;
  top: 0;
  background: get-color(greyscale, base);
  border: 1px solid get-color(greyscale, lightest);
  color: get-color(greyscale, lightest);
  padding: 0.5em;
  transform: translateY(-40%);
  z-index: 10;

  &::before {
    content: '';
    position: absolute;
    left: -0.55em;
    top: 50%;
    margin-top: -0.75rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1rem 1rem 1rem 0;
    border-color: transparent get-color(greyscale, lightest) transparent transparent;
  }
}

// .tooltip__icon {
//   background: get-color(greyscale, light);
//   border-radius: 50%;
//   color: get-color(greyscale, dark);
//   cursor: pointer;
//   display: flex;
//   font-family: $font-serif;
//   font-style: italic;
//   height: 1em;
//   justify-content: center;
//   line-height: 1;
//   width: 1em;
// }