// Fonts
$font-sans: 'Raleway', sans-serif;
$font-serif: 'Times New Roman', Times, serif;

// Sizes
$mini: 382px;
$small: 500px;
$medium: 768px;
$large: 1024px;

// Colors

$white: #ffffff;
$black: #000000;
$mine-shaft: #303030;
$tundora: #565454;
$stack: #868686;
$chrome-yellow: #FFAB00;


$colors: (
  greyscale: (
    lightest: $white,
    light: $stack,
    base: $tundora,
    dark: $mine-shaft,
    darkest: $black
  ),
  ui: (
    button: $chrome-yellow
  ),
);
