.main {
  width: 320px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media (min-width: 1024px) {
  .hidden {
    display: block;
  }
}

.field {
  margin-bottom: 1.5em;
}

.label {
  display: block;
  margin-bottom: 0.25em;
}

.inputWrapper {
  position: relative;
  display: block;
}

.input {
  background-color: var(--color-tundora);
  border: 1px solid var(--color-black);
  color: var(--color-white);
  font-size: 1.5em;
  margin-bottom: 0;
  padding: 0.5em;
  width: 100%;
}

.input:focus {
  background: var(--color-stack);
  border: 1px solid var(--color-white);
}

.submitField {
  margin-top: 2.5em;
}

.button {
  background-color: var(--color-chrome-yellow);
  border: 0.25em dashed var(--color-chrome-yellow);
  color: var(--color-white);
  font-size: 1.5em;
  padding: 0.285em;
  width: 100%;
  cursor: pointer;
}

.button:hover,
.button:focus {
  border: 0.25em dashed var(--color-chrome-yellow);
  padding: 0.285em;
  background-color: var(--color-white);
  color: var(--color-mine-shaft);
  outline: 0;
}
