.result {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 0 4em;
  text-align: center;
}

@media (min-width: 1024px) {
  .result {
    display: flex;
  }
}

.visible {
  display: flex;
}

.content {
  font-size: 2em;
}

@media (min-width: 1200px) {
  .content {
    font-size: 2.5em;
  }
}

.hours {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.25;
}

.small {
  font-size: 0.5em;
  margin-top: 1.5em;
}
