.wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  margin-top: 1em;
}

@media (min-width: 1024px) {
  .wrapper {
    grid-gap: 2em;
    grid-template-columns: 1fr 320px 1fr;
  }
}
